<h1>Student Details</h1>
<p><strong>First Name:</strong><%= @student.first_name %></p>
<p><strong>Last Name:</strong><%= @student.last_name %></p>
<p><strong>Local Address:</strong><%="#{@student.local_address}, #{@student.state}" %></p>
<p><strong>Permanent Address:</strong><%="#{@student.permanent_adress}, #{@student.state}" %></p>
<p><strong>Contact Number:</strong><%= @student.permanent_contact_number %></p>
<p><strong>Alernate Number:</strong><%= @student.alternate_contact_number %></p>
<p><strong>Age:</strong><%= @student.age %></p>

<h2>Admission in Courses:</h2>
<table border="1">
	<thead>
	  <th>ID</th>
	  <th>Course Name</th>
	</thead>

	<tbody>
    <% if @student.courses.any? %>
    <% @student.courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.name %></td>
      </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="2">Student has not enrolled in any course yet!!</td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to "Back to List", students_path %>