<div class = "col-lg-10">
  <div class = "card rounded-0 shadow mt-5">
    <div class = "card-body">
      <h1>Student Details</h1>
      <p><strong>Name: </strong><%= @student.full_name %>
      <p><strong>Age:</strong><%= @student.age %></p>
      <p><strong>Contact Number:</strong><%= @student.permanent_contact_number %></p>
      <p><strong>Alernate Number:</strong><%= @student.alternate_contact_number %></p>
      <% if @student.date_of_birth.present? %>
        <p><strong>Date of Birth:</strong><%= formatted_date(@student.date_of_birth) %></p>
      <% else %>
        <p><strong>Date of Birth:</strong><%= "#{@student.first_name} has not entered the date of birth"%></p>
      <% end %>
      <%= link_to "Back", admin_students_path , class: "btn btn-primary" %>
      <%= link_to "Edit", edit_admin_student_path(@student) , class: "btn btn-secondary" %>
    </div>
  </div>
</div>

<div class = "col-lg-10">
<h4>Courses</h4>
<table border="2">
	<thead>
	  <th>ID</th>
	  <th>Course Name</th>
	</thead>

	<tbody>
    <% if @student.courses.any? %>
    <% @student.courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.name %></td>
      </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="2">Student has not enrolled in any course yet!!</td>
    </tr>
  <% end %>
</tbody>
</table>
</div>

<%= link_to "Back to List", admin_students_path %>